* {
  font-family: "Ubuntu", sans-serif;
}

header {
  img {
    width: 300px;
  }
}

@mixin title {
  h2 {
    background-color: lightblue;
    padding: 15px;
  }

  p {
    font-size: 18px;
  }
}

#About {
  @include title();
}

#Courses {
  @include title();

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  td,
  th {
    border: 3px solid #000;
    text-align: left;
    padding: 5px;
  }

  th {
    background-color: #fff;
    text-align: center;
  }

  td {
    font-size: 18px;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  .table-title {
    font-size: 20px;
    background-color: #fff;
    text-align: center;
  }
}

#Interests {
  @include title();
}

#Info {
  @include title();
}
